/* ADD ANY LINES OF CODE YOU DEEM NECESSARY FOR QUESTION 1*/

.button {
    display: inline-block;
    height: 50px;
    width: 50px;
    background: black;
    margin: 12px;
    cursor: pointer;
    opacity: 0.7;
}

#row {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

body, html {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0px;
    height: 100%;
    width: 100%;
    background: #f7f5f2;
    position: relative;
}

.button:hover {
    transform: rotate(180deg);
    border-radius: 50%;
    opacity: 1;
    transition-duration: 0.45s;
}


/*key frames version oops
.button:hover {
    animation-duration: 0.45s;
    animation-name: rotate, opac, circ;
    animation-fill-mode: forwards;
}

@keyframes opac {
    0% { opacity: 0.5; }
    100% { opacity: 1 }
}

@keyframes rotate {
    from {transform:rotate(0deg) ;}
    to {transform: rotate(180deg);}
}
@keyframes circ {
    from {border-radius: none;}
    to {border-radius:50%;}
}
/*